<?xml version="1.0"?>

<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <!-- icreate robot model -->
    <node name="create_model_mount" args="$(arg init_pose) -file $(find weaselball_description)/meshes/1/model.sdf -sdf -model $(arg robot_name)" pkg="gazebo_ros" type="spawn_model"/>
</launch>
