<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find weaselball_gazebo)/worlds/simulate.world"/>
	<arg name="gui" value="false"/>
	<arg name="paused" value="true"/>
  </include>  


<group ns="weasel0">
<include file="$(find weaselball_gazebo)/launch/include/one_robot.launch">
<arg name="robot_name" value="swarmbot0"/>
<arg name="init_pose" value="-x -0 -y -0 -z 0 -R 1.1 -P 1.2 -Y 1.3"/>
</include>
</group>


<group ns="mount0">
<include file="$(find weaselball_gazebo)/launch/include/one_mount.launch">
<arg name="robot_name" value="mount0"/>
<arg name="init_pose" value="-x -0.0 -y -0.0 -z 0.01"/>
</include>
</group>

</launch>
