<launch>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">     
    <arg name="world_name" value="$(find weaselball_gazebo)/worlds/simulate.world"/>
  </include>  


<group ns="weasel0">
<include file="$(find weaselball_gazebo)/launch/include/one_robot.launch">
<arg name="robot_name" value="swarmbot0"/>
<arg name="init_pose" value="-x 0.068641 -y -0.038629 -z 0.1"/>
</include>
</group>

<group ns="weasel1">
<include file="$(find weaselball_gazebo)/launch/include/one_robot.launch">
<arg name="robot_name" value="swarmbot1"/>
<arg name="init_pose" value="-x -0.03533 -y -0.0781 -z 0.1"/>
</include>
</group>

<group ns="weasel2">
<include file="$(find weaselball_gazebo)/launch/include/one_robot.launch">
<arg name="robot_name" value="swarmbot2"/>
<arg name="init_pose" value="-x -0.0781 -y 0.032526 -z 0.1"/>
</include>
</group>

<group ns="weasel3">
<include file="$(find weaselball_gazebo)/launch/include/one_robot.launch">
<arg name="robot_name" value="swarmbot3"/>
<arg name="init_pose" value="-x 0.036148 -y 0.067242 -z 0.1"/>
</include>
</group>


<group ns="mount0">
<include file="$(find weaselball_gazebo)/launch/include/one_4sq_mount.launch">
<arg name="robot_name" value="mount0"/>
<arg name="init_pose" value="-x -0.0 -y -0.0 -z 0.1"/>
</include>
</group>

</launch>
