<?xml version="1.0"?>

<model>
  <name>myGroundPlanee</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Justin Wasserman</name>
    <email>jbwasse2@illinois.edu</email>
  </author>

  <description>
	The plane of the ground
  </description>
</model>
~                                                                                                                  
~           
